{% extends 'home/base.html' %}

{% block body %}

<br>

    {% if ordered_items %}
    <div class="row justify-content-center">
            
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h3 style="text-align: center;">Order history</h3><hr>
                            {% for items in ordered_items %}
                            <div class="row">
                                <div class="col-md-12">
                                        <img style="width: 30%;display: block;margin: 0 auto;" src="{{ items.product.product_image.url }}">
                                    </div>

                                    <div class="col-md-2" style="text-align: center">
                                        <p>{{ items.ordered_product }} </p>
                                    </div>

                                    <div class="col-md-4" style="text-align: center">
                                        Price : $ {{ items.price }}
                                    </div>

                                    <div class="col-md-6" style="text-align: left">
                                        <p>Order placed on : {{ items.order_palced }} </p>
                                    </div>
                                </div>
                            {% endfor %}
                            <hr>
                            <div class="col-md-8" style="text-align: center">
                                    <p>Total is : $ {{ total }} </p>
                            </div>
                        
    {% else %}
            <div class="row justify-content-center">
            <h3>No orders in the past </h3>
            </div>
    {% endif %}
                </div>  
            </div>
        </div>
    </div>
    {% endblock%}
